.input-error {
    border-color: red;
    border-radius: .2em;
    border-style: solid;
}

.form-container {
    margin: 0em;

    button {
	border-color: white;
	margin: 1em;
    }
    button:hover {
	border-color: orange;
	color: orange;
    }
    button:active {
	border-color: red;
	color: red;
    }
    input {
    color: black ;
    width: 100% ;
    }
    label {
	div { width: 100%; }
    }
}
.user-info {
    color: yellow !important;
    font-weight: 900;
}

.form {
    border-radius: .5em;
    padding-top: 2em; padding-bottom: 2em;
}


.my-btn {
    border-color: white;
    margin: 1em;


}
.my-btn:hover {
    border-color: orange;
    color: orange;
}
.my-btn:active {
    border-color: red;
    color: red;
}
